<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Мои заявки</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<header>
    <h2>Мои заявки</h2>
<p>Вы вошли как: <b>{{ user.fio }}</b></p>
    <div style="position:absolute; top:20px; right:20px;">
        <form method="get" action="/create_request" style="display:inline;">
            <button type="submit">Создать заявку</button>
        </form>

        <form method="post" action="/logout" style="display:inline;">
            <button type="submit">Выход</button>
        </form>
    </div>
</header>

<div class="container">

<table class="requests-table">

<tr>
    <th>№ заявки</th>
    <th>Тип техники</th>
    <th>Модель</th>
    <th>Описание проблемы</th>
    <th>Статус</th>
    <th>Дата начала</th>
</tr>

{% for r in requests %}
<tr>

<td>{{ r.requestID }}</td>

<td>{{ r.homeTechType }}</td>

<td>{{ r.homeTechModel }}</td>

<td>{{ r.problemDescription }}</td>

<td>{{ r.requestStatus }}</td>

<td>{{ r.startDate }}</td>

</tr>
{% endfor %}

</table>

</div>

</body>
</html>