<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Панель менеджера</title>
</head>

<body>

<h1>Все заявки в системе</h1>

<table class="requests-table">

<tr>
<th>ID заявки</th>
<th>ID клиента</th>
<th>ID мастера</th>
<th>Описание проблемы</th>
<th>Статус</th>
<th>Запчасти</th>
<th>Дата</th>
</tr>

{% if requests %}

{% for r in requests %}

<tr>

<td>{{ r.requestID }}</td>

<td>{{ r.clientID }}</td>

<td>{{ r.masterID or "Не назначен" }}</td>

<td>{{ r.problemDescription }}</td>

<td>{{ r.requestStatus }}</td>

<td>{{ r.repairParts or "Нет" }}</td>

<td>{{ r.startDate }}</td>

</tr>

{% endfor %}

{% else %}

<tr>
<td colspan="7">Заявок пока нет</td>
</tr>

{% endif %}

</table>

</body>
</html>